@import "tailwindcss";

@layer base {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Banner */
@keyframes entrarDaDireita {
  0% {
    opacity: 0;
    transform: translateX(100px) scale(0.98);
  }

  100% {
    opacity: 1;
    transform: translateX(0) scale(1);
  }
}

@keyframes entrarDaEsquerda {
  0% {
    opacity: 0;
    transform: translateX(-100px) scale(0.98);
  }

  100% {
    opacity: 1;
    transform: translateX(0) scale(1);
  }
}

.animacao-direita {
  animation: entrarDaDireita 0.3s cubic-bezier(0.25, 1, 0.5, 1) forwards;
}

.animacao-esquerda {
  animation: entrarDaEsquerda 0.3s cubic-bezier(0.25, 1, 0.5, 1) forwards;
}

/* ANIMAÇÂO (SOBRE) */
@keyframes wave-hand {

  0%,
  100% {
    transform: rotate(-12deg);
  }

  50% {
    transform: rotate(12deg);
  }
}

.animate-wave-hand {
  display: inline-block;
  transform-origin: 70% 70%;
  animation: wave-hand 1.2s ease-in-out infinite;
}

@keyframes scroll-infinito {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-50%);
  }
}

.animar-scroll {
  animation: scroll-infinito 32s linear infinite;
}