@import "tailwindcss";

@layer base {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
}

@theme {
  --color-principal-bg: var(--bg-color);
  --color-principal-text: var(--text-color);
}

:root {
  --bg-color: #18181B;
  --text-color: #F8F9FA;
}

.light {
  --bg-color: #F8F9FA;
  --text-color: #111113;
}

/* NOTIFICACAO */
@keyframes slide-in-from-top {
  0% {
    transform: translate(-50%, -30px);
    opacity: 0;
  }

  100% {
    transform: translate(-50%, 0);
    opacity: 1;
  }
}

@keyframes slide-out-to-top {
  0% {
    transform: translate(-50%, 0);
    opacity: 1;
  }

  100% {
    transform: translate(-50%, -30px);
    opacity: 0;
  }
}

@keyframes slide-in-from-left {
  0% {
    transform: translateX(-30px);
    opacity: 0;
  }

  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slide-out-to-left {
  0% {
    transform: translateX(0);
    opacity: 1;
  }

  100% {
    transform: translateX(-30px);
    opacity: 0;
  }
}

@utility animate-notification-in {
  animation: slide-in-from-top 0.4s cubic-bezier(0.16, 1, 0.3, 1) forwards;

  @media (min-width: 960px) {
    animation: slide-in-from-left 0.4s cubic-bezier(0.16, 1, 0.3, 1) forwards;
  }
}

@utility animate-notification-out {
  animation: slide-out-to-top 0.4s cubic-bezier(0.16, 1, 0.3, 1) forwards;

  @media (min-width: 960px) {
    animation: slide-out-to-left 0.4s cubic-bezier(0.16, 1, 0.3, 1) forwards;
  }
}

/* Banner */
@keyframes entrarDaDireita {
  0% {
    opacity: 0;
    transform: translateX(100px) scale(0.98);
  }

  100% {
    opacity: 1;
    transform: translateX(0) scale(1);
  }
}

@keyframes entrarDaEsquerda {
  0% {
    opacity: 0;
    transform: translateX(-100px) scale(0.98);
  }

  100% {
    opacity: 1;
    transform: translateX(0) scale(1);
  }
}

.animacao-direita {
  animation: entrarDaDireita 0.3s cubic-bezier(0.25, 1, 0.5, 1) forwards;
}

.animacao-esquerda {
  animation: entrarDaEsquerda 0.3s cubic-bezier(0.25, 1, 0.5, 1) forwards;
}

/* ANIMAÇÂO (SOBRE) */
@keyframes wave-hand {

  0%,
  100% {
    transform: rotate(-12deg);
  }

  50% {
    transform: rotate(12deg);
  }
}

.animate-wave-hand {
  display: inline-block;
  transform-origin: 70% 70%;
  animation: wave-hand 1.2s ease-in-out infinite;
}