@import "tailwindcss";

@layer base {
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    html {
        scroll-behavior: smooth;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(10px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.animate-fadeIn {
    animation: fadeIn 0.3s ease-out;
}

@keyframes slideFromBottom {
    0% {
        transform: translateY(-100%);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes slideFromTop {
    0% {
        transform: translateY(100%);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

.animate-subir {
    animation: slideFromBottom 0.4s cubic-bezier(0.18, 0.89, 0.32, 1.28) forwards;
    will-change: transform, opacity;
}

.animate-descer {
    animation: slideFromTop 0.4s cubic-bezier(0.18, 0.89, 0.32, 1.28) forwards;
    will-change: transform, opacity;
}